
@media only screen and (min-width: 320px) {
    /* stijlregels voor browserschermen < 720px */

body {
    display: block;
    margin: 5px;
}


.logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.vervoerders {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    align-items: center;
    margin: 20px;
}

.header_title {
    font-size: 30px;
}


.principes {
    display: flex;
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #B9005F;
    color: white;
    margin: 5% 3% 3% 3%;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.second-box {
    display: flex;
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #FFD05F;
    color: white;
    margin: 3% 3% 3% 3%;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.third-box {
    display: flex;
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #46BECD;
    color: white;
    margin: 3% 3% 3% 3%;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}











}

@media only screen and (min-width: 720px) {
    /* stijlregels voor browserschermen > 720px en < 1024px */

body {
    grid-template-columns: 2;
}

.logo {
    width: 360px;
}


.vervoerders {
    width: 700px;
}
}






@media only screen and (min-width:1024px) {
    /* stijlregels voor browserschermen ≥ 1024px */

body {
    width: 100%;
}

.vervoerders {
    width: 90%;
    overflow: hidden;
}

.logo {
    display: flex;
    margin-left: 4%;
    margin-top: 1%;
    width: 25%;
}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    align-items: center;
    margin: 0px;
}

.header_title {
    font-size: 50px;
}

.header_subtitle {
    font-size: 30px;
}

/*main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section {
    display: flex;
    justify-content: space-around;
}

.principes {
    display: flex;
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #B9005F;
    color: white;
    margin: 5% 3% 3% 3%;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 350px;
    height: 80px;
}

.second-box {
    display: flex;
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #FFD05F;
    color: white;
    margin: 3% 3% 3% 3%;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.third-box {
    display: flex;
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #46BECD;
    color: white;
    margin: 3% 3% 3% 3%;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
*/

main {
    display: grid;
    grid-template-columns: 2rem 1fr 2fr 2rem;
    grid-template-areas: ". f a .";
    margin-left: 0;
    margin-right: 0;
}

.close {
    display: none;
}

.side-nav {
    grid-area: f;
}

.v-toc {
    margin-right: 2rem;
}

.v-toc>summary {
    list-style: none;
}

.v-toc__summary {
    cursor: pointer;
    font-family: sans-serif;
    letter-spacing: .15ch;
    color: #232d71;
}

.v-toc__summary-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.v-toc[open] .v-toc__icon {
    transform: rotate(90deg);
}

.v-toc__icon {
    fill: currentColor;
    height: 1rem;
    width: 1rem;
}

.v-toc__title {
    display: block;
    font-weight: 700;
    margin-left: 0.5rem;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.5em;
}

.v-toc__nav {
    padding: 0 1rem 1.55rem 0;
}

.template-about .side-nav .side-nav, .template-authors .side-nav .side-nav, .template-checklist .side-nav .side-nav, .template-posts .side-nav .side-nav, .template-resources .side-nav .side-nav, .template-spotlight .l-toc .l-toc, .template-team .l-toc .l-toc {
    margin-left: 1.5rem;
}

.v-toc__nav ol {
    list-style-type: none;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.v-toc__nav li {
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: .15ch;
    line-height: 1.1;
    margin-bottom: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.v-toc__nav a[href] {
    border-bottom: none;
    display: flex;
}

.v-toc__nav a[href] {
    color: #707070;
    text-decoration: none;
    transition: color .3s ease-in-out,border .3s ease-in-out;
}

.v-toc__nav a[href]:after {
    content: "";
    flex: 1 1;
    border-bottom: .5ex solid transparent;
    margin: auto auto auto 0.5rem;
}

:after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


.side-content {
    grid-area: a;
}



details {
    display: block;
}
}
